@import url("../../App.css");

#calendar-menu {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.calendar-header {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: flex-start;
  position: relative;
}

.month-title {
  text-align: center;
  margin: 0;
  cursor: pointer;
  color: var(--main-font-color);
  position: relative;
}

.month-title:hover {
  color: var(--main-highlight-color);
}

.current-month-indicator {
  color: var(--main-highlight-color);
  position: absolute;
}

.nav-button { /* botão para navegar pelos meses*/
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  position: absolute; /* posição absoluta para centralizar */
  text-align: center;
  top: 0%;
}
.nav-button:first-of-type { 
  left: 41.5em;
}
.nav-button:last-of-type {
  right: 41.5em;
}


#calendar { /* container principal do calendário */
  width: 100%;
  height: calc(100% - 2em);
  padding: 0 0.5em 0.5em 0.5em;
  color: var(--main-font-color);
  display: grid;
  gap: 0.5em;
  position: relative;
}

#weekday-headers { /* Cabeçalhos dos dias da semana */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekday-header {
  margin: 0;
  text-align: center;
  font-size: 1.1em;
  color: var(--main-highlight-color);
}

.week {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5em;
}

.week:hover > * {
  background: var(--secondary-hoverselect-color);
}

.calendar-day {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.2em;
  border: 1px solid var(--secondary-hoverselect-color);
  border-radius: 0.4em;
  padding: 1.1em 2% 2% 2%;
  cursor: pointer;
  background: var(--secondary-color);
  user-select: none;
  position: relative;
  overflow: hidden;
}


.holiday-emoji {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  font-size: 1.2em;
}

.calendar-day:hover > .day-number {
  scale: 1.25;
}

.calendar-day.other-month > * {
  opacity: 0.5;
}

.calendar-day.today {
  color: var(--main-color);
  font-weight: bold;
  box-shadow: 0 0 0 2px var(--main-color);
}

.calendar-day.today::before {
  content: 'Hoje';
  position: absolute;
  top: 0.26em;
  left: 1.5em;
  color: var;
}

.calendar-day.today:hover {
  background: var(--main-hoverselect-color);
}

.day-number {
  font-size: 1.1em;
  color: inherit;
  position: absolute;
  top: 2%;
  left: 1.5%;
}
