.loading, .error, .success, #vote-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.loading,
.error,
.success {
  text-align: center;
  padding: 1.5em;
}

.error {
  color: #d32f2f;
}

.success {
  color: #388e3c;
}

.timeslot-container {
  display: flex;
  flex-direction: column;
}

.timeslot-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeslot-list-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeslot-list {
  width: 100%;
  padding: 0.3em;
  background-color: var(--secondary-color);
  border: 2px var(--main-hoverselect-color) solid;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 0.25em;
  z-index: 1;
  margin-bottom: 1em;
}

.timeslot-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.44em;
  background-color: var(--secondary-hoverselect-color);
  border-radius: 4px;
  user-select: none;
}

.timeslot-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.timeslot-item:hover {
  background-color: var(--secondary-hoverselect-color);
}

.timeslot-item.selected {
  border-left: 4px solid var(--main-hoverselect-color);
}

.timeslot-votes {
  font-size: 0.9em;
}

.timeslot-selected-icon {
  color: var(--main-hoverselect-color);
  margin-left: 10px;
}

.submit-button {
  padding: 0.8em;
  border-radius: 0.4em;
  width: 100%;
}

.submit-button:hover {
  background-color: var(--main-hoverselect-color);
}

.submit-button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.error-message {
  color: #d32f2f;
  margin-bottom: 15px;
  text-align: center;
}
