#event-data-form .success {
    margin: 1em 0;
    padding: 1.5em;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #388e3c;
    text-align: center;
    font-size: 1.1em;
}

#event-data-form .criar-enquete-btn {
    width: auto;
    align-self: flex-end;
}

#event-origin-info > * {
    display: flex;
    gap: 1em;
}

#enquete-meet {
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#cancel-button {
    background-color: #ff4444;
    border-color: #ff4444;
}
#cancel-button:hover {
    background-color: #cc0000;
}
