@import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
  --main-font-color: #effafd;
  --main-color: #3299fa;
  --main-hoverselect-color: #0271d8;
  --main-highlight-color: #008cff;
  --secondary-color: #21282c;
  --secondary-hoverselect-color: #161d20;

  --main-font-color-light: #171a1b;
  --main-color-light: #076dc0;
  --main-hoverselect-color-light: #017ce0;
  --main-highlight-color-light: #008cff;
  --secondary-color-light: #d8e6eb;
  --secondary-hoverselect-color-light: #b7d0da;

  color: var(--main-font-color);
  font-family: "Zain", sans-serif;
}

.App {
  background-color: var(--secondary-color);
  height: 100vh;
  font-size: 2vh;
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App *:not(input) { 
  transition: 0.15s ease-in-out;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

input,
button,
select,
option,
textarea { 
  border-color: var(--main-highlight-color); 
  font-size: 1em;
  border-radius: 0.4em;
  padding: 0.25em;
}

input, textarea {  
  background-color: var(--secondary-color);
}
 
button { 
  background-color: var(--main-color);
  cursor: pointer;
}
                                                                                                                                                                                                                                                           
button:hover {
  background-color: var(--main-hoverselect-color);
}

:focus-visible {
  outline: var(--main-highlight-color) auto 1px;
}

i {
  color: inherit;
}

a {
  text-decoration: none;
}

.error-message {
  color: #ff4444;
  font-size: 0.6em;
}
