@import url('../../App.css');

.modal {
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#menu-wrapper {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    box-shadow: 0 0 0.2em var(--main-highlight-color);
    text-align: center;
}

#login-menu {
    padding: 1em;
    box-shadow: 0 0 0.2em var(--secondary-hoverselect-color);
}

button {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#googleSignIn {
    background-color: var(--secondary-color);
    outline: 0.1em outset var(--main-highlight-color);
}

#googleSignIn:hover {
    background-color: var(--secondary-hoverselect-color);
}

#googleSignIn > img {
    max-height: 1.5em;
}
