@import url("../../App.css");

.eventBlock {
    width: 100%;
    min-height: fit-content;
    height: 25%;
    max-height: 100%;
    padding: 0.15em;
    border-radius: 7px;
    text-align: start;
}

.link {
    cursor: pointer;
}
