@import url("../../App.css");

.eventBlock {
    width: 100%;
    min-height: fit-content;
    height: 25%;
    max-height: 100%;
    padding: 0.15em;
    border-radius: 0.4em;
    text-align: start;
    position: relative;
}

.link {
    cursor: pointer;
}

.cancelled {
    opacity: 30%;
}
.cancelled > span {
    display: none;
}

.cancelled::before {
    color: var(--main-font-color);
    content: 'Cancelado';
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
