@import url('../../App.css');

#calendar-nav {
    padding: 0.25em 1em 0 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    gap: 0.25em;
}

#calendar-nav button, #calendar-nav select, #calendar-nav option{
    font-size: 0.9em;
    padding: 0.1em 0.4em;
    border-radius: 15px;
    font-weight: bold;
    border: 0;
}

#calendar-nav select, #calendar-nav option {
    background-color: var(--main-color);
}

#calendar-nav option {
    color: var(--secondary-color);
}

#calendar-nav select:hover {
    background-color: var(--main-hoverselect-color);
}

#year-changer {
    position: absolute;
    display: flex;
    gap: 0.25em;
    top: 12.5%;
    left: 50%;
    transform: translate(-50%, -12.5%);
}

#year-changer > button {
    display: flex;
    align-items: center;
    border-radius: 50%;
}

#month-select {
    text-align: center;
    flex: 1 0 100%;
}
